@font-face {
    font-family:'yekan';
    src: url('Yekan.eot') format('opentype');
    src: url("Yekan.ttf")format("truetype"),
       url("Yekan.woff")format('woff');

}
@font-face {
    font-family:'Yekan-regular';
    src: url('yekan-regular.eot')format('opentype');
    src: url("yekan-regular.ttf")format("truetype"),
    url("yekan-regular.woff")format('woff');

}

@font-face {
    font-family:'BYekan';
    src: url('BYekan.eot')format('opentype');
    src: url('BYekan.ttf')format('truetype');
    src: url('BYekan.woff')format('woff');
    font-size: larger;
}

@font-face {
    font-family:'iransansdn';
    src: url("eot/iransansdn.eot")format('opentype');
    src: url("ttf/iransansdn.ttf")format('truetype');
    src: url("woff/iransansdn.woff")format('woff');

}


@font-face {
    font-family:'iransansbold';
    src: url("eot/iransansdnbold.eot")format('opentype');
    src: url("ttf/iransansdnbold.ttf")format('truetype');
    src: url("woff/iransansdnbold.woff")format('woff');
}
@font-face {
    font-family:'iransanslight';
    src: url("eot/iransansdnlight.eot")format('opentype');
    src: url("ttf/iransansdnlight.ttf")format('truetype');
    src: url("woff/iransansdnlight.woff")format('woff');
}
@font-face {
    font-family: 'iransans_num';
    src: url("number/IRANSansDN_Fa_Num.ttf")format('truetype');
}
@font-face {
    font-family: 'iransans_num_bold';
    src: url("number/IRANSansDN_FaNum-Bold.ttf")format('truetype');
}
@font-face {
    font-family: 'iransans_num_light';
    src: url("number/IRANSansDN_FaNum_Light.ttf")format('truetype');
}
